.card {
    min-width: 12rem;
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.cardContent {
    display: grid;
}

.imageContainer {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: cover;
}

.text {
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}